[Desktop Entry]
Comment=Ivana Transparent Blue
Name=Ivana Transparent Blue
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1@gmail.com
X-KDE-PluginInfo-Name=Ivana-Transparent-Blue
X-Plasma-API=5.0
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

